.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}


html, body {
    overflow: scroll;
    overflow-x: hidden;
    padding:0; 
    margin:0;
    background: white
}
::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}
/* optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #FF0000;
}


.calendar {
  width: 85%;
}


.calendar-container {
  height: 45vh;
  width: 42vw;
  float: right;
  background: #62C9EC;
  border-radius: 1.5%;
  padding: 1vh 1vw 1vh 1vw;
}

.dashboard-calendar-container {
  height: 35vh;
  width: 35vw;
  float: left;
  background: #62C9EC;
  border-radius: 1.5%;
  padding: 1vh 1vw 1vh 1vw;
  margin-top: 2vh
}

.navbar {
  width: 100%;
  height: 75px;
  background: #62C9EC;
  display: block;
}

.nav-links-container {
  float: left
}

.user-calendar {
  /*display: block;
  width: 100%;
  height: 30vh;*/
}

.content {
  padding-right: 5vw;
  padding-left: 5vw;
  padding-top: 2vh;
}

/*.user-lectures {
  width: 100%;
}*/

.user-details {
  background: #62C9EC;
  height: 50vh;
  width: 79vw;
  float: left;
  border-radius: 1.5%;
  overflow: hidden;
  display: flex;
  padding: 1vh 1vw 1vh 1vw;
  margin-right: 2vw
}

.lecture-details {
  background: #62C9EC;
  width: 35vw;
  height: 12vh;
  border-radius: 1%;
  padding: 1vh 1vw 1vh 1vw;
  float: left;
}

.post-container {
  width: 42vw;
  background: #62C9EC;
  height: 80vh;
  float: left;
  /*margin-top: 2vh;*/
  padding: 1vh 1vw 1vh 1vw;
  border-radius: 1.5%;

}

.dashboard-post-container {
  width: 42vw;
  background: #62C9EC;
  height: 80vh;
  float: left;
  margin-top: 2vh;
  padding: 1vh 1vw 1vh 1vw;
  border-radius: 1.5%;
  margin-right: 2vw
}

.lecture-post-container {
  width: 42vw;
  background: #62C9EC;
  height: 80vh;
  float: left;
  margin-top: 3vh;
  padding: 1vh 1vw 1vh 1vw;
  border-radius: 1.5%;

}

.user-social-link-header{
  color: red;
  background: #8cb1ff;
}
.sidebar {
  float: left;
  height: 136vh;
  width: 15vw;
  background: #62C9EC;
  padding: .5vh .5vw .5vh .5vw;

}

.user-details-card {
  width: 100%;
}

.rbc-calendar{
  height: 85%;
  width: 85%

}

.add-assignment-button {
  float: left;
  float: top;
  width: 3vw;
  height: 3vh;
  background: #85e1d5;
  border-radius: 5%;
  padding-top: 4px;
  margin-bottom: 10px;
}

.calendar-header {
  width: 100%;
  display: block;
  height: 4vh
}

.container-backdrop{
  background: white;
  width: 100%;
  height: 100%;
  border-radius: 1.5%;
  overflow: hidden
}

.sidebar-backdrop {
  background: #110F71;
  width: 100%;
  height: 100%;
  border-radius: 1.5%;
  overflow: hidden
}

.edit-user-details-button {
  float: left;
  display: inline-block;
  width: 3vw;
  height: 3vh;
  background: #85e1d5;
  border-radius: 5%;
  color: white;
  font-size: 15px;
  cursor: default;
  padding-top: 3px
}

.lecture-type-select {
  margin-left: 30px
}

.text-input {
  background: #e3e6e7;
  margin-left: 10px;
  margin-bottom: 10px;
  display: inline-block;
  padding: 5px;
  border-radius: 3%
}

.edit-user-modal {
  width: 80vw
}

.input-grey {
  background: #e3e6e7;
}

/* .user-details-element {
  background: #e3e6e7;
  margin: 5px;
  width: 100%
} */

.notes-container {
  height: 50vh;
  width: 25vw;
  float: right;
  background: #62C9EC;
  border-radius: 1.5%;
  margin-left: 3vw;
  padding: 1vh 1vw 1vh 1vw;
}

.dashboard-notes-container {
  height: 43vh;
  width: 35vw;
  float: left;
  background: #62C9EC;
  border-radius: 1.5%;
  padding: 1vh 1vw 1vh 1vw;
  margin-top: 2vh
}

.file-upload-button {
  width: 3vw;
  padding-top: 2px;
  height: 3vh;
  background: #85e1d5;
  border-radius: 5%;
}

.ui.button {
  background: initial;
}

.upload-photo-button {
  background: #85e1d5;
}

.user-details-card-container {
  margin-top: 25px
}

.google-places-search {
  display: block;
  margin-top: 5vh;
  background: #8cb1ff;
  width: 22vw;
  height: 80vh
}

.dashboard-container {
  width: 85vw;
  height: 135vh;
  background: white;
  display: inline-block;
  padding: 2vh 1vw 1vh 1vw;
  border-top: 5px solid #62C9EC
}

.dashboard-backdrop {
  background: #110F71;
  height: 137vh;
  width: 100%;
  padding: 3vh 2vw 3vh 2vw;
  border-radius: 1.5%
}

.student-card {
  background: #110F71;
  height: 100%;
  color: white;
  padding: 1vh .5vw 1vh .5vw;
  border-radius: 1.5%;
}

.student-backdrop{
  background: #62C9EC;
  width: 100%;
  height: 100%;
  border-radius: 1.5%;
  overflow: hidden
}

.lecture-notes-container{
  background: #62C9EC;
  width: 35vw;
  height: 30vh;
  margin-top: 3vh;
  /* margin-bottom: 2vh; */
  border-radius: 1.5%;
  padding: 1vh 1vw 1vh 1vw;
  float: left;
}

.students-container {
  background: #62C9EC;
  width: 35vw;
  height: 70vh;
  margin-top: 3vh;
  border-radius: 1.5%;
  padding: 1vh 1vw 1vh 1vw;
  float: right;
}

.google-map-modal {
  background: #85e1d5;
  padding-right: 5vw
}

.lecture-autosuggest{
  background: red;
  width: 22vw;
  display: inline-block;
  height: 45vh
}

.lecture-form{
  background: blue;
  width: 25vw;
  display: inline-block;
  height: 50vh
}
.submit-residence-button {
  float: right
}

.sidebar-content {
  background: white;
  width: 90%;
  margin-left: 5%;
  height: 30vh;
  border-radius: 5%;
}

.sidebar-residence {
  background: white;
  width: 90%;
  margin-left: 5%;
  height: 5vh;
  border-radius: 5%;
  color: white
}

.sidebar-button {
  width: 10%;
  margin-left: 45%
}


.input-icon {
  display: inline-block;
  margin-left: 10px;
  height: 100%;
  width: 25px
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@import url('../node_modules/react-big-calendar/lib/css/react-big-calendar.css')
